.background {
    background-image: url("../img/background.png ");
    height: 100vh;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: center;
}
.card-text {
    text-align: center;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color:blueviolet ;
    vertical-align: 50px;
    vertical-align: 50px;
    font: Merriweather;
}
.show-aboutus {
    display: none;
    }
.show-menu {
    display: none;
    color: brown;
}
.show-services {
    display: none;
}
.show-testimonials {
    display: none;
}
  
.tst-img {
    float: right;
}
.abt-img {
    float: right;
    height: 250px;
    width: 250px;
}
.menu {
    height: 250px;
    width: 250px;
}
.services {
    height: 250px;
    width: 250px;
}
.tst-img {
    height: 250px;
    width: 250px;
}
#contact {
    background-color: rgb(153, 165, 42);
}
#order {
    background-color: orange;

}
.aboutus {
    background: burlywood;
}
.ordering {
    background-color: burlywood;
}