.background {
    background-image: url("/img/background.png ");
    height: 100vh;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card-text {
    text-align: center;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color:rgb(12, 241, 81) ;
    vertical-align: 50px;
    vertical-align: 50px;
    font: Merriweather;
  }
ul {
    text-emphasis-color: blue;
}